/* TABLE OF CONTENTS							*/
/* **********************************************/
/* 0. Reset										*/
/* 1. Page Structure							*/
/* 2. Headings									*/
/* 3. Base elements								*/
/* 4. Lists										*/
/* 5. Definition lists							*/
/* 6. Tables									*/
/* **********************************************/

/* 0. Reset -- http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* 1. Page structure */
html { font-family: "PT Sans", serif; font-size: 15px; line-height: 24px; color: #222; background-color: #FCFFFF;}
body { max-width: 960px; margin: 0 auto; padding: 3em 2em;
}
@media print {
	body { padding: 10px; }
}

/* 2. Headings */
h1, h2, h3, h4, h5, h6 { font-family: Arvo, sans-serif; }
h1 { font-size: 1.8em; margin: 0 0 1em 0; font-weight: bold; }
h2 { font-size: 1.6em; margin: 1.0em 0 0.5em 0; }
h3 { font-size: 1.3em; margin: 0.8em 0 0 0; }
h4 { font-size: 1.1em; margin: 0.7em 0 0 0; }
h5 { font-size: 1.0em; margin: 0.6em 0 0 0; font-weight: bold; }
h6 { font-size: 1.0em; margin: 0.5em 0 0 0; font-style: italic; }

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * { margin-top: 0; }

/* 3. Base elements	*/
b, strong { font-weight: bold; }
i, em { font-style: italic; }

a:link { color: #00F; }
a:visited { color: #707; }
a:hover, a:active { color: #FF00FF; }
a.footnote { font-size: 50%; vertical-align: super; }

p { margin: 0 0 1em 0; text-align: justify; }

code, pre { font-family: "Lucida Console", Monaco, monospace; color: #252; }
pre {
	background-color: #eee;
	white-space: pre;
	padding: 1.0em 1.2em;
	margin: 0 0 1em 0;
	border: 1px solid #aaa;
	border-radius: 2px;
}

/* 4. Lists */
ol > li { list-style-type: decimal; margin-left: 2em; }
	ol ol > li { list-style-type: lower-alpha; margin-left: 4em; }
		ol ol ol > li { list-style-type: lower-roman; margin-left: 6em; }

ul > li { list-style-type: disc; margin-left: 2em; }
	ul ul > li { list-style-type: square; margin-left: 4em; }
		ul ul ul > li { list-style-type: circle; margin-left: 6em; }

/* 5. Definition lists */
dt { font-weight: bold; }
dd { margin-left: 2em; }

/* 6. Tables */
table { border-collapse:collapse; width: 50%; }
table + table { margin-top: 1pc; }
	caption { font-size: 1.1em; font-weight: bold; padding-left:5%; }
	tr:nth-child(odd) td { background-color: #DDEEFF; }
	tr:nth-child(even) td { background-color: transparent; }
		td, th { text-align: left; padding: 1px 1ex 1px 1ex; white-space: nowrap; }
		th { font-weight: bold; vertical-align: bottom; }
		td { vertical-align: top; }
		td:last-of-type, th:last-of-type { padding-right:1em; }
		td:first-of-type, th:first-of-type { padding-left:1em; }
